---
title:      Gene
created_at: 2008-09-05 22:07:07.666569 -05:00
filter:
  - erb
---

<% gene = Hash.new
   gene[:name] = "BRCA1"
   gene[:full] = "breast cancer 1, early onset"
   gene[:aka] = "IRIS; PSCP; BRCAI; BRCC1; RNF53"
   gene[:summary] = "This gene encodes a nuclear phosphoprotein that plays a role in maintaining genomic stability and acts as a tumor suppressor. The encoded protein combines with other tumor suppressors, DNA damage sensors, and signal transducers to form a large multi-subunit protein complex known as BASC for BRCA1-associated genome surveillance complex."   
 %>


<h2><%= gene[:name] %></h2>

  <ul id="gene-nav" class="center">
    <li><a href="javascript:;" onclick="Effect.ScrollTo('general-info'); return false;">
          Information
        </a>
    </li>
    <li><a href="javascript:;" onclick="Effect.ScrollTo('related-cancer'); return false;">
          Cancers
        </a>
    </li>    
    <li><a href="javascript:;" onclick="Effect.ScrollTo('interactions'); return false;">
          Interactions
        </a>
    </li>    
    <li><a href="javascript:;" onclick="Effect.ScrollTo('pathways'); return false;">
          Pathways
        </a>
    </li>
    <li><a href="javascript:;" onclick="Effect.ScrollTo('microarray'); return false;">
          Microarrays
        </a>
    </li>
    <li><a href="javascript:;" onclick="Effect.ScrollTo('transcriptions'); return false;">
          Transcription Factors
        </a>
    </li>
  </ul>
  <div class="clearbox">
    
  </div>
<div class="gene">
  <h2 id="general-info">General Information</h2>
  <div class="content">
    <h3>Full name</h3>
    <p><%= gene[:full] %></p>
    <h3>Also known as</h3>
    <p><%= gene[:aka] %></p>
    <h3>Description</h3>
    <p><%= gene[:summary] %></p>
  </div>
  <h2 id="related-cancer">Related Cancers</h2>
  <div class="center">
    <% %w(prostate lymphoma breast colon skin).each do |cancer| %>
      <div class="cancer-box">
        <%= link_to cancer %>
      </div>
    <% end  %>
  </div>
  <div class="clearbox">
    
  </div>
  <h2 id="interactions">Interactions</h2>
  <h3>Top Interactions</h3>
  <% %w(SERPINA2 E2F1 AR EREG MYC TMEM37 TCEAL1 PAG1).each do |gene| %>
    <div class="gene-box">
      <%= link_to gene %>
    </div>
  <% end %>
  <div class="clearbox">
    
  </div>
  <h3>Map</h3>
  <div class="center">
    <img src="/img/gene_network.png" />
  </div>
  <div class="clearbox">
    
  </div>
  <h2 id="pathways">Pathways</h2>
  <div class="center">
    <% %w(pathway1 pathway2 pathway3 pathway4 pathway5).each do |path| %>
      <div class="cancer-box">
        <a href="javascript:;" onclick="Effect.ScrollTo('path-map'); return false;">
              <%= path %>
            </a>
      </div>
    <% end  %>
  </div>
  <div class="clearbox">
    
  </div>
  <h3>Map</h3>
  <div class="center">
    <div id="path-map">
      <!-- <iframe src="http://www.maplib.net/fullmap.php?id=2386&lat=-52.75541210602274&lng=35.775604248046875&z=10" scrolling="no" frameborder="0" style="width:400px;height:400px;border:0px"></iframe> -->
      <img src="/img/map.png" />
    </div>
  </div>
  <div class="clearbox">
    
  </div>
  <h2 id="microarray">Microarrays</h2>
  <h3>Statistics</h3>
  <div class="center">
    <img src="/img/stats.png" />
  </div>
  <div class="clearbox">
    
  </div>
  <h3>Downloads</h3>
  <div class="column span-6 append-1 first">
    <h3 class="text-center">Raw Data</h3>
    <div class="center">
      <img src="/img/file_big.png" />
    </div>
  </div>
  <div class="column span-6 append-1">
    <h3 class="text-center">Processed Data</h3>
    <div class="center">
      <img src="/img/file_edit_big.png" />
    </div>
  </div>
  <div class="column span-6 last">
    <h3 class="text-center">Selected Files</h3>
    <div class="center">
      <img src="/img/file_search_big.png" />
    </div>
  </div>
</div>